<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/partials/head" %>
  </head>

  <body class="text-gray-600">
    <%= render "shared/flash_alerts" %>

    <div class="mx-auto w-full max-w-7xl flex-grow flex xl:px-8">
      <!-- Left sidebar & main wrapper -->
      <div class="min-w-0 flex-1 bg-white flex">
        <div class="border-b border-gray-200 bg-white xl:w-64 xl:flex-shrink-0 xl:border-b-0 xl:border-r xl:border-gray-200">
          <div class="h-screen sticky top-0 py-6 pl-4 pr-6 sm:pl-6 lg:pl-8 xl:pl-0">
            <div class="h-full flex flex-col items-start space-y-4">
              <!-- Left column area -->
              <%= link_to root_path do %>
                <span class="sr-only">Rapid Ruby</span>
                <%= image_tag "rapid-ruby-stamp-dark.svg", alt: "Rapid Ruby", class: "h-10 w-auto ml-3.5" %>
              <% end %>
              <% nav_links.each do |nav| %>
                <%= link_to nav.title, nav.path, class: "text-xl font-medium text-gray-600 hover:text-gray-800 p-2 px-3.5 hover:bg-gray-100 rounded-full" %>
              <% end %>

              <div class="flex-auto flex flex-col justify-end">
                <% if user_signed_in? %>
                  <%= render partial: "layouts/partials/user_dropdown", locals: { current_user: Current.user } %>
                <% else %>
                  <%= link_to "Login", sign_in_path, class: "inline-block rounded-md text-sm sm:text-base font-medium text-gray-200 hover:text-white hover:underline" %>
                  <%= link_to "Sign up", sign_up_path, class: "inline-block rounded-md border border-transparent bg-red-500 py-2 px-4 text-sm sm:text-base font-medium text-white hover:bg-opacity-75" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white lg:min-w-0 lg:flex-1">
          <div class="min-h-screen">
            <!-- Main area -->
            <%= yield %>
          </div>
        </div>
      </div>

      <div class="bg-gray-50 pr-4 sm:pr-6 lg:flex-shrink-0 lg:border-l lg:border-gray-200 lg:pr-8 xl:pr-0">
        <div class="h-screen py-6 pl-6 lg:w-80">
          <!-- Right column area -->
        </div>
      </div>
    </div>
  </body>
</html>
